<div class="uk-offcanvas-content uk-height-1-1" [class.cgs-http-loading]="isLoading">
    <nav id="cgs-main-nav" class="uk-navbar-container uk-light" uk-navbar>
        <div class="uk-navbar-left" style="-webkit-app-region: no-drag;">
            <a href="#cgs-offcanvas-rmes-modules" uk-toggle id="cgs-quick-rmes-suite" title="Módulos Suite"
               uk-tooltip="delay: 1000"><i
                    uk-icon="icon: grid"></i></a>
            <a href="" routerLink="/risk-matrix" class="uk-navbar-item uk-logo"><img src="./assets/img/rmes-logo-mini.png"/></a>
        </div>

        <div class="uk-navbar-right" style="-webkit-app-region: no-drag;">
            <ul class="uk-navbar-nav">
                <li *ngIf="dataService.user !== null">
                    <a href="javascript:void(0)">{{dataService.user.name + ' ' + dataService.user.lastName }}</a>
                    <div uk-dropdown="mode: click">
                        <a routerLink="login" style="color: #1a171b ;"><i uk-icon="icon: sign-out"></i> Salir</a>
                    </div>

                </li>
                <li>
                    <a routerLink="login" *ngIf="dataService.user === null"><i uk-icon="icon: sign-in"></i> Ingresar</a>
                </li>
                <li style="height: 50px; width: 50px;">
                    <div uk-spinner class="uk-hidden cgs-show-on-loading" style="margin-top: 7px;"></div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="cgs-main-body" uk-height-viewport="offset-top: 50">


        <router-outlet></router-outlet>
        <!-- Contenido de otros componentes aparecera aca -->


    </div>
    <!-- This is the off-canvas -->
    <div id="cgs-offcanvas-rmes-modules" uk-offcanvas="mode: push">
        <div class="uk-offcanvas-bar uk-padding-small">

            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <div class="uk-margin uk-margin-remove-top">
                <form class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input name="cgs-module-search" class="uk-search-input" type="search"
                           placeholder="Buscar módulo" [(ngModel)]="modulesFilterTerm" (keyup)="filterModules()">
                </form>
            </div>

            <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>

                <h3 class="uk-width-1-1">Módulos Relacionados</h3>
                <ng-container *ngFor="let module of rmesModules">
                    <a (click)="navigateToModule(module)" class="uk-link-reset"
                       *ngIf="module.enabled === true && !module.filtered_out && module.key && relatedModules.indexOf(module.key) !== -1">
                        
                       <div class="cgs-suite-module" *ngIf="module.disponible == true">
                            <img src="{{module.icon_url}}"/>
                            <div>{{module.name}}</div>
                        </div>
                        
                        <div class="cgs-suite-module-no" *ngIf="module.disponible == false">
                            <img src="{{module.icon_url}}"/>
                            <div>{{module.name}}</div>
                        </div>
                    </a>
                </ng-container>

                <h3 class="uk-width-1-1">Otros módulos</h3>
                <ng-container *ngFor="let module of rmesModules">
                    <a (click)="navigateToModule(module)" class="uk-link-reset"
                       *ngIf="module.enabled === true && !module.filtered_out && (module.key === '' || relatedModules.indexOf(module.key) == -1)">
                       <div class="cgs-suite-module" *ngIf="module.disponible == true">
                            <img src="{{module.icon_url}}"/>
                            <div>{{module.name}}</div>
                        </div>
                    
                        <div class="cgs-suite-module-no" *ngIf="module.disponible == false">
                            <img src="{{module.icon_url}}"/>
                            <div>{{module.name}}</div>
                        </div>
                    </a>
                </ng-container>
            </div>

            <div class="uk-width-1-1 uk-margin-top">
                <a href="#" class="uk-link-reset uk-text-small">&laquo; Ir a RMES Suite</a>
            </div>
        </div>
    </div>

</div>