<ng-container *ngIf="activeDimension !== null">
    <div class="cgs-background-soft uk-padding uk-padding-remove-bottom">
        <h2 class="uk-margin-remove-bottom">
            RISK MATRIX
            <div class="uk-float-right">
                <button class="uk-button uk-button-primary" *ngIf="editEnabled" (click)="checkSubmit()">
                    <i class="flaticon-save"></i> Guardar
                </button>
                <div class="uk-display-inline-block"
                     *ngIf="activeDimension.matrix.length > 1 && activeDimension.matrix[0].data.length > 0">
                    <button class="uk-button uk-button-primary" *ngIf="editEnabled">
                        <i uk-icon="icon: list"></i> Columnas <i uk-icon="icon: triangle-down"></i>
                    </button>
                    <div uk-dropdown="mode: click">
                        <ul class="uk-list uk-text-small">
                            <li class="uk-nav-header">Visibilidad</li>
                            <li *ngFor="let matrix of activeDimension.matrix">
                                <label>
                                    <input type="checkbox" [(ngModel)]="matrix.visible"
                                           (change)="saveDimensionVisibility(matrix.key, $event)"
                                           class="uk-checkbox"/>
                                    {{matrix.name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </h2>

        <ul uk-tab>
            <li *ngFor="let dimension of riskDimensions"
                [class.uk-active]="dimension.key === activeDimension.key">
                <a href="#" (click)="changeActiveMajorMatrix(dimension)">{{dimension.name}}</a>
            </li>
        </ul>
    </div>
    <div class="uk-padding uk-overflow-auto">


        <h3 class="uk-margin-remove-bottom">Matriz de {{activeDimension.name}}</h3>
        <p class="">{{activeDimension.description}}</p>
        <button *ngIf="editEnabled" class="uk-button uk-button-primary uk-button-small uk-margin-bottom" (click)="addMatrixRow()">
            <i uk-icon="icon: plus; ratio: 0.6;"></i> Agregar Elemento
        </button>

        <div class="uk-grid-small" uk-grid>

            <div class="uk-width-expand@m">

                <div *ngIf="activeDimension.matrix[0].data.length === 0;else matrix_table"
                     class="uk-padding uk-padding-remove-horizontal uk-placeholder uk-text-center">
                    <p>Aún no hay elementos en esta matriz. <span *ngIf="!isNewFormVisible">Añada elementos <a
                            (click)="addMatrixRow()">aquí</a></span></p>
                </div>
                <ng-template id="cgs-matrix-table-wrapper" #matrix_table>
                    <table id="cgs-matrix-table"
                           class="uk-table uk-table-striped uk-table-small uk-table-hover">
                        <thead>
                        <tr>
                            <th class="uk-table-shrink">&nbsp;&nbsp;Nivel&nbsp;&nbsp;</th>
                            <ng-container *ngFor="let matrix of activeDimension.matrix">
                                <th *ngIf="matrix.visible">
                                    {{matrix.name}}
                                    <i uk-icon="icon: info; ratio: 0.75;"
                                       title="Descripción de cuándo aplicar la clasificación"
                                       uk-tooltip></i>
                                </th>
                            </ng-container>
                            <th class="uk-table-shrink uk-text-nowrap">
                                &nbsp;&nbsp;&nbsp;&nbsp;Factor
                                <i uk-icon="icon: info; ratio: 0.75;"
                                   title="Factor numérico que indica el nivel de consecuencia o frecuencia"
                                   uk-tooltip></i>
                                &nbsp;&nbsp;&nbsp;
                            </th>
                            <th class="uk-table-shrink">Clase</th>
                            <th *ngIf="editEnabled" class="uk-table-shrink">Opc.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let row of activeDimension.matrix[0].data; let i = index;">
                            <ng-container *ngIf="editEnabled; else riskEditDisabled">
                                <tr *ngIf="row.status == 1">
                                    <td class="uk-text-center">
                                        {{activeDimension.matrix[0].data[i].level}}
                                    </td>

                                    <ng-container *ngFor="let matrix of activeDimension.matrix">
                                        <td *ngIf="matrix.visible">
                                        <textarea [(ngModel)]="matrix.data[i].description"
                                                  class="uk-textarea uk-form-small"
                                                  placeholder="Descripción"></textarea>
                                        </td>
                                    </ng-container>
                                    <td>
                                        <input type="number" class="uk-input uk-form-small"
                                               [ngModel]="activeDimension.matrix[0].data[i].factor"
                                               (change)="updateRow(i, 'factor', $event.target.value)"/>
                                    </td>
                                    <td class="uk-text-nowrap">
                                        <select (change)="updateRow(i, 'class', $event.target.value)"
                                                class="uk-select uk-width-auto uk-form-small">
                                            <option value="low">Leve</option>
                                            <option value="medium">Medio</option>
                                            <option value="severe">Grave</option>
                                        </select>
                                        <div [ngSwitch]="activeDimension.matrix[0].data[i].class"
                                             class="uk-display-inline-block cgs-vertical-align">
                                            <span *ngSwitchCase="'low'"
                                                  class="uk-text-success flaticon-circular-shape-silhouette"></span>
                                            <span *ngSwitchCase="'medium'"
                                                  class="uk-text-warning flaticon-circular-shape-silhouette"></span>
                                            <span *ngSwitchCase="'severe'"
                                                  class="uk-text-danger flaticon-circular-shape-silhouette"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <a (click)="deleteRow(i)"
                                           [ngClass]="activeDimension.matrix[0].data[i].use_count > 0 ? 'uk-text-muted cgs-cursor-arrow': 'uk-text-danger'"
                                           [attr.title]="activeDimension.matrix[0].data[i].use_count > 0 ? 'Este nivel no puede ser borrado ya que es usado en al menos 1 modo de falla': 'Borrar esta fila'"
                                           uk-icon="icon: trash" uk-tooltip="delay: 500"></a>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #riskEditDisabled>

                                <tr *ngIf="row.status == 1">
                                    <td class="uk-text-center">
                                        {{activeDimension.matrix[0].data[i].level}}
                                    </td>

                                    <ng-container *ngFor="let matrix of activeDimension.matrix">
                                        <td *ngIf="matrix.visible">
                                            {{matrix.data[i].description}}
                                        </td>
                                    </ng-container>
                                    <td>
                                        {{activeDimension.matrix[0].data[i].factor}}
                                    </td>
                                    <td class="uk-text-nowrap">
                                        <select (change)="updateRow(i, 'class', $event.target.value)"
                                                [attr.disabled]="!editEnabled ? 'disabled': null"

                                                class="uk-select uk-width-auto uk-form-small">
                                            <option value="low">Leve</option>
                                            <option value="medium">Medio</option>
                                            <option value="severe">Grave</option>
                                        </select>
                                        <div [ngSwitch]="activeDimension.matrix[0].data[i].class"
                                             class="uk-display-inline-block cgs-vertical-align">
                                            <span *ngSwitchCase="'low'"
                                                  class="uk-text-success flaticon-circular-shape-silhouette"></span>
                                            <span *ngSwitchCase="'medium'"
                                                  class="uk-text-warning flaticon-circular-shape-silhouette"></span>
                                            <span *ngSwitchCase="'severe'"
                                                  class="uk-text-danger flaticon-circular-shape-silhouette"></span>
                                        </div>
                                    </td>
                                    <td *ngIf="editEnabled">
                                        <a (click)="deleteRow(i)"
                                           [ngClass]="activeDimension.matrix[0].data[i].use_count > 0 ? 'uk-text-muted cgs-cursor-arrow': 'uk-text-danger'"
                                           [attr.title]="activeDimension.matrix[0].data[i].use_count > 0 ? 'Este nivel no puede ser borrado ya que es usado en al menos 1 modo de falla': 'Borrar esta fila'"
                                           uk-icon="icon: trash" uk-tooltip="delay: 500"></a>
                                    </td>
                                </tr>
                            </ng-template>
                        </ng-container>
                        </tbody>
                    </table>
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>