.cgs-box-list {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
  height: 380px;
}

.cgs-box-list .cgs-box-list-element {
  display: block;
  position: relative;
  padding: 10px 15px;
  margin-bottom: 3px;
  background-color: #fafafa;
}

.cgs-box-list .cgs-box-list-element:hover {
  background-color: #F1F9FF;
}

.cgs-box-list-content {}

.cgs-box-list-options {
  position: absolute;
  right: 7px;
  top: 5px;
  text-align: right;
}

.cgs-active {
  color: #fff;
  background-color: #1E87F0 !important;
}
