<div class="cgs-background-soft uk-padding">
  <h2 class="uk-margin-remove-bottom">
    Catálogo de Categorías
    <div class="uk-float-right">
      <button class="uk-button uk-button-primary" (click)="checkSubmit()">
        <i class="flaticon-save"></i> Guardar
      </button>
    </div>
  </h2>
  <p>A continuación se pueden configurar las categorías utilizadas en el módulo HAZID.</p>
</div>
<div class="uk-padding">


  <div *ngIf="categories !== null" class="uk-grid-small uk-grid-divider" uk-grid>

    <div class="uk-width-1-3">
      <h3>Categorías
        <button class="uk-button uk-button-primary uk-button-small uk-margin-bottom" (click)="addCategory()">
          <i uk-icon="icon: plus; ratio: 0.6;"></i> Agregar Categoría
        </button>
      </h3>
      <div class="cgs-box-list" style="overflow-y: auto;">
        <ng-container *ngFor="let category of categories">
          <div class="cgs-box-list-element cgs-clickable" *ngIf="category.status == 1" (click)="selectCategory(category)"
            [ngClass]="{'cgs-active': category === currentCategory}">

            <div class="cgs-box-list-content">
              {{category.name}}
            </div>
            <div class="cgs-box-list-options">
              <a uk-icon="icon: pencil" uk-title title="Editar Categoría" (click)="updateCategoryName(category, 'Nombre de Categoría')"></a>
              <a uk-icon="icon: close" uk-title title="Borrar Categoría" (click)="removeCategory(category)"></a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="uk-width-1-2" *ngIf="currentCategory !== null">

      <h3>Palabras Guía
        <button class="uk-button uk-button-primary uk-button-small uk-margin-bottom" (click)="addGuideWord()">
          <i uk-icon="icon: plus; ratio: 0.6;"></i> Agregar Palabra Guía
        </button>
      </h3>
      <div class="cgs-box-list" style="overflow-y: auto;">
        <ng-container *ngFor="let guideWord of currentCategory.guide_words">
          <div class="cgs-box-list-element" *ngIf="guideWord.status == 1">
            <div class="cgs-box-list-content">
              {{ guideWord.guide_word }}
            </div>
            <div class="cgs-box-list-options">
              <a uk-icon="icon: pencil" uk-title title="Editar Palabra Guía" (click)="updateGuideWordName(guideWord, 'Palabra Guía')"></a>
              <a uk-icon="icon: close" uk-title title="Borrar Palabra Guía" (click)="removeGuideWord(guideWord)"></a>
            </div>
          </div>
        </ng-container>
      </div>

    </div>


  </div>
</div>
