    /*
    Flaticon icon font: Flaticon
    Creation date: 01/12/2017 23:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-line-chart:before { content: "\f100"; }
.flaticon-business:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-vehicle:before { content: "\f103"; }
.flaticon-piston:before { content: "\f104"; }
.flaticon-save:before { content: "\f105"; }
.flaticon-circular-shape-silhouette:before { content: "\f106"; }
.flaticon-info-sign:before { content: "\f107"; }
    
    $font-Flaticon-line-chart: "\f100";
    $font-Flaticon-business: "\f101";
    $font-Flaticon-menu: "\f102";
    $font-Flaticon-vehicle: "\f103";
    $font-Flaticon-piston: "\f104";
    $font-Flaticon-save: "\f105";
    $font-Flaticon-circular-shape-silhouette: "\f106";
    $font-Flaticon-info-sign: "\f107";