	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/12/2017 23:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-line-chart:before { content: "\f100"; }
.flaticon-business:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-vehicle:before { content: "\f103"; }
.flaticon-piston:before { content: "\f104"; }
.flaticon-save:before { content: "\f105"; }
.flaticon-circular-shape-silhouette:before { content: "\f106"; }
.flaticon-info-sign:before { content: "\f107"; }