<div class="uk-grid-collapse uk-height-1-1" uk-grid uk-height-viewport="offset-top: 50">
  <div class="uk-width-1-4@m uk-width-1-5@xl uk-height-1-1 uk-overflow-hidden" style="height: calc(100vh - 50px)">
    <div class="uk-padding-small uk-text-center uk-height-1-1 cgs-background-soft-darker" style="height: 100%">


      <div class="cgs-flex-col" style="height: 100%">
        <h2>{{moduleInfo.title}}</h2>
        <div class="cgs-flex-fill">

          <horizontal-split-pane primary-component-initialratio="0.6" separator-thickness="10" local-storage-key="cgs-fmeca-sidebar">

            <div class="split-pane-content-primary uk-height-1-1">
              <div class="cgs-dlf-wrapper" style="position: relative;">
                <form class="uk-search uk-search-default uk-width-1-1 uk-margin-small-bottom">
                  <span uk-search-icon></span>
                  <input id="tree-search" class="uk-search-input" type="search" placeholder="Buscar...">
                </form>
                <div id="cgs-dlf"></div>
              </div>
            </div>

            <div class="split-pane-content-secondary uk-height-1-1">
              <div id="cgs-fmeca-navigator-wrapper" class="cgs-fmeca-navigator-wrapper cgs-flex-col" [attr.disabled]="currentNode === null">
                <ng-container *ngIf="currentNode !== null">
                  <h4 class="uk-text-center uk-margin-remove-bottom">
                    {{currentNode.text}}
                    <button *ngIf="editEnabled" class="uk-button uk-button-small uk-button-primary" title="Agregar parte"
                      uk-tooltip="delay: 500;" (click)="createPart()">+
                    </button>
                  </h4>
                  <div id="cgs-fmeca-navigator" class="cgs-flex-fill uk-overflow-auto">
                    <table class="uk-table uk-table-divider uk-table-xsmall uk-text-small">
                      <thead>
                        <tr>
                          <th>Parte</th>
                          <th class="uk-table-shrink">FMECA<br> / RCM</th>
                          <th class="uk-table-shrink">Ver.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let part of currentNode.parts; let isLast = last">
                          <tr *ngIf="part.status == 1" (click)="onSelectPart(part)" [class.active]="currentPart === part"
                            [attr.id]="((isLast) ? 'last-part': null)" class="cgs-clickable">
                            <td>
                              {{part.name}}
                              <a class="uk-link-reset" (click)="editPart(part)" *ngIf="editEnabled" uk-icon="icon: pencil; ratio: 0.7;"
                                title="Editar parte" uk-tooltip="delay: 500;"></a>
                            </td>
                            <td class="uk-text-center">
                              <i class="flaticon-circular-shape-silhouette" [ngClass]="part.fmeca.fmeca_status ? 'uk-text-success': 'uk-text-danger'"
                                [attr.title]="((part.fmeca.fmeca_status) ? 'Configurado correctamente': 'Faltan campos mínimos')"
                                uk-tooltip="delay: 500;"></i>
                              /
                              <i class="flaticon-circular-shape-silhouette" [ngClass]="part.fmeca.rcm_status ? 'uk-text-success': 'uk-text-danger'"
                                [attr.title]="((part.fmeca.rcm_status) ? 'Configurado correctamente': 'Faltan campos mínimos')"
                                uk-tooltip="delay: 500;"></i>
                            </td>
                            <td title="Modificado el {{part.date_modified}}" uk-tooltip="delay: 500">
                              {{part.version}}
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
                <div *ngIf="currentNode === null" class="uk-height-1-1 uk-padding uk-text-muted uk-text-center">
                  Esperando selección.<br><i uk-icon="icon: more;"></i>
                </div>
              </div>
            </div>

          </horizontal-split-pane>
        </div>
      </div>

    </div>
  </div>
  <!-- Main Body -->
  <div class="uk-width-expand@m uk-overflow-hidden cgs-flex-col" uk-height-viewport="offset-top: true">
    <!-- Content header -->
    <div class="uk-padding cgs-background-soft" *ngIf="currentNode !== null">
      <div class="uk-text-small">
        <span title="Sistema" uk-tooltip="delay: 500">
          Sistema {{currentNode.parent.text}} &raquo;
        </span>
      </div>
      <h3 class="uk-margin-remove">
        {{currentNode.text}}
        <div class="uk-float-right uk-button-group">
          <button class="uk-button uk-button-small uk-button-primary" *ngIf="editEnabled" (click)="saveChanges()"><i
              class="flaticon-save"></i> Guardar Cambios
          </button>
          <button class="uk-button uk-button-small uk-button-primary" (click)="graphNpr()"><i class="flaticon-line-chart"></i>
            Graficar
          </button>

        </div>
      </h3>

      <div class="uk-grid-small" uk-grid>

        <div class="uk-width-auto uk-padding-small uk-text-center uk-text-muted" *ngIf="currentPart === null">
          Seleccione o <a (click)="createPart()">agregue</a> una parte desde el listado de partes
        </div>
        <div *ngIf="currentPart !== null">

          <h4 class="uk-margin-remove-bottom">
            <i class="flaticon-piston" title="Parte {{currentPart.name}}" uk-tooltip="delay: 500;"></i>
            {{currentPart.name}}
            <a class="uk-link-reset" *ngIf="editEnabled" (click)="editPart(currentPart)" uk-icon="icon: pencil; ratio: 0.7;"
              title="Editar parte {{currentPart.name}}" uk-tooltip="delay: 500;"></a>
          </h4>
          <div class="uk-text-small uk-text-muted">
            <i class="flaticon-circular-shape-silhouette" [ngClass]="currentPart.fmeca.fmeca_status ? 'uk-text-success': 'uk-text-danger'"
              [attr.title]="((currentPart.fmeca.fmeca_status) ? 'Configurado correctamente': 'Faltan campos mínimos')"
              uk-tooltip="delay: 500;"></i> FMECA
            <i uk-icon="icon: minus"></i>
            <i class="flaticon-circular-shape-silhouette" [ngClass]="currentPart.fmeca.rcm_status ? 'uk-text-success': 'uk-text-danger'"
              [attr.title]="((currentPart.fmeca.rcm_status) ? 'Configurado correctamente': 'Faltan campos mínimos')"
              uk-tooltip="delay: 500;"></i> RCM
            <i uk-icon="icon: minus"></i>
            Versión {{currentPart.version}} (&Uacute;ltima modificación {{currentPart.date_modified}})
          </div>

        </div>

      </div>
    </div>


    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" *ngIf="currentNode === null">
      <div class="uk-width-1-1 uk-text-center uk-text-muted uk-text-lead">
        <div class="uk-visible@m"><i uk-icon="icon: arrow-left; ratio: 3;"></i></div>
        Seleccione un equipo desde el diagrama lógico funcional
      </div>
    </div>

    <div class="uk-padding uk-overflow-auto cgs-flex-fill" *ngIf="currentPart !== null">

      <h3 class="uk-margin-remove-bottom">Matriz {{moduleInfo.title}}</h3>
      <button class="uk-button uk-button-primary uk-button-small" (click)="addFailureMode()" *ngIf="editEnabled">
        <i uk-icon="icon: plus; ratio: 0.75;"></i> Agregar Fila
      </button>
      <p class="uk-margin-top" *ngIf="currentPart.fmeca.data.length === 0">Aún no hay datos de FMECA</p>

      <ng-container *ngIf="currentPart.fmeca.data.length > 0">

        <div class="uk-text-small uk-text-muted">
          <button class="uk-button uk-button-primary uk-button-small" *ngIf="editEnabled && currentPart.fmeca.data.length >= 5"
            (click)="addFailureMode()">
            <i uk-icon="icon: plus; ratio: 0.75;"></i> Agregar Fila
          </button>
          * Campo requerido para completar FMECA

        </div>

        <div id="cgs-fmeca-table-wrapper">
          <dx-data-grid id="gridContainer" [dataSource]="currentPart.fmeca.data" [showColumnLines]="true"
            [showRowLines]="true" [allowColumnResizing]="true" [columnResizingMode]="columnResizingMode"
            [columnMinWidth]="100" [columnAutoWidth]="false" [showBorders]="false" [rowAlternationEnabled]="true"
            (onRowUpdated)="updateRisk()" (onRowInserted)="updateRisk()">
            <dxo-export [enabled]="true" fileName={{currentPart.name}} [allowExportSelectedData]="true"></dxo-export>
            <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
            <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxo-paging [enabled]="false"></dxo-paging>
            <dxo-editing mode="batch" [allowUpdating]="true" [allowAdding]="false">

            </dxo-editing>

            <dxi-column dataField="function" caption="FUNCIÓN" [width]="230" alignment="center"></dxi-column>
            <dxi-column dataField="functional-failure" caption="FALLA FUNCIONAL" [width]="230" alignment="center"></dxi-column>
            <dxi-column dataField="failure-mode" caption="MODO DE FALLA" [width]="230" alignment="center"></dxi-column>
            <dxi-column dataField="maintenable-element" caption="ELEMENTO MANTENIBLE" [width]="230" alignment="center"></dxi-column>
            <dxi-column dataField="cause" caption="CAUSA" [width]="230" alignment="center"></dxi-column>
            <dxi-column caption="EFECTO" alignment="center">
              <dxi-column dataField="effect-inmediate" caption="INMEDIATO*" [width]="150" alignment="center"></dxi-column>
              <dxi-column dataField="effect-asset" caption="EQUIPO*" [width]="150" alignment="center"></dxi-column>
              <dxi-column dataField="effect-process" caption="PROCESO*" [width]="150" alignment="center"></dxi-column>
            </dxi-column>

            <dxi-column dataField="symptom" caption="SÍNTOMA" [width]="180" alignment="center"></dxi-column>
            <dxi-column dataField="detection-method" caption="MÉTODO DETECCIÓN*" [width]="180" alignment="center">
              <dxo-lookup [dataSource]="tableSelects.detection_detection" displayExpr="description" valueExpr="level">
              </dxo-lookup>
            </dxi-column>

            <dxi-column dataField="evident" caption="EVIDENTE*" [width]="150" alignment="center">
              <dxo-lookup [dataSource]="tableSelects.confirmation" displayExpr="description" valueExpr="value">
              </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="frequency" caption="FRECUENCIA*" [width]="170" alignment="center" editCellTemplate="frequency-frequencyBoxTemplate">
              <dxo-lookup [dataSource]="tableSelects.frequency_frequency" displayExpr="description" valueExpr="level">
              </dxo-lookup>
            </dxi-column>

            <dxi-column caption="CONSECUENCIA" alignment="center">
              <dxi-column dataField="consequence-security" caption="SEGURIDAD*" [width]="150" alignment="center"
                editCellTemplate="consequence-securityBoxTemplate">
                <dxo-lookup [dataSource]="tableSelects.consequence_security" displayExpr="description" valueExpr="level">
                </dxo-lookup>
              </dxi-column>

              <dxi-column dataField="consequence-environment" caption="MEDIO AMBIENTE*" [width]="210" alignment="center"
                editCellTemplate="consequence-environmentBoxTemplate">
                <dxo-lookup [dataSource]="tableSelects.consequence_environment" displayExpr="description" valueExpr="level">
                </dxo-lookup>
              </dxi-column>

              <dxi-column dataField="consequence-community" caption="COMUNIDAD*" [width]="150" alignment="center"
                editCellTemplate="consequence-communityBoxTemplate">
                <dxo-lookup [dataSource]="tableSelects.consequence_community" displayExpr="description" valueExpr="level">
                </dxo-lookup>
              </dxi-column>

              <dxi-column dataField="consequence-reputation" caption="REPUTACIÓN*" [width]="150" alignment="center"
                editCellTemplate="consequence-reputationBoxTemplate">
                <dxo-lookup [dataSource]="tableSelects.consequence_reputation" displayExpr="description" valueExpr="level">
                </dxo-lookup>
              </dxi-column>

              <dxi-column dataField="consequence-legal" caption="LEGAL*" [width]="150" alignment="center"
                editCellTemplate="consequence-legalBoxTemplate">
                <dxo-lookup [dataSource]="tableSelects.consequence_legal" displayExpr="description" valueExpr="level">
                </dxo-lookup>
              </dxi-column>

              <dxi-column dataField="consequence-finance" caption="FINANCIERA*" [width]="150" alignment="center"
                editCellTemplate="consequence-financeBoxTemplate">
                <dxo-lookup [dataSource]="tableSelects.consequence_finance" displayExpr="description" valueExpr="level">
                </dxo-lookup>
              </dxi-column>

            </dxi-column>

            <dxi-column dataField="risk" caption="RIESGO" [allowEditing]="false" [width]="80" dataType="number"></dxi-column>

            <dxi-column dataField="currentPart" caption="OPC." [width]="100" [allowFiltering]="false" [allowSorting]="false"
              cellTemplate="cellTemplate"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
              <dx-button icon="trash" (onClick)="deleteRow(data)"></dx-button>
            </div>


            <div *dxTemplate="let cellData of 'frequency-frequencyBoxTemplate'">
              <dx-drop-down-box #ddBox (onValueChanged)="onValueChanged($event, cellData.setValue)" [value]="cellData.value"
                [dataSource]="tableSelects.frequency_frequency" displayExpr="description" valueExpr="level">
                <dxo-drop-down-options [height]="200" [width]="400"></dxo-drop-down-options>
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid keyExpr="level" [selectedRowKeys]="[cellData.value]" width="100%" (onSelectionChanged)="onSelectionChanged($event, ddBox.instance)"
                    [dataSource]="tableSelects.frequency_frequency">
                    <dxi-column dataField="level" caption="NIVEL"></dxi-column>
                    <dxi-column dataField="factor" caption="FACTOR"></dxi-column>
                    <dxi-column dataField="description" caption="DESCRIPCIÓN"></dxi-column>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
            <div *dxTemplate="let cellData of 'consequence-securityBoxTemplate'">
              <dx-drop-down-box #ddBox (onValueChanged)="onValueChanged($event, cellData.setValue)" [value]="cellData.value"
                [dataSource]="tableSelects.consequence_security" displayExpr="description" valueExpr="level">
                <dxo-drop-down-options [height]="200" [width]="400"></dxo-drop-down-options>
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid keyExpr="level" [selectedRowKeys]="[cellData.value]" width="100%" (onSelectionChanged)="onSelectionChanged($event, ddBox.instance)"
                    [dataSource]="tableSelects.consequence_security">
                    <dxi-column dataField="level"></dxi-column>
                    <dxi-column dataField="factor"></dxi-column>
                    <dxi-column dataField="description"></dxi-column>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
            <div *dxTemplate="let cellData of 'consequence-environmentBoxTemplate'">
              <dx-drop-down-box #ddBox (onValueChanged)="onValueChanged($event, cellData.setValue)" [value]="cellData.value"
                [dataSource]="tableSelects.consequence_environment" displayExpr="description" valueExpr="level">
                <dxo-drop-down-options [height]="200" [width]="400"></dxo-drop-down-options>
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid keyExpr="level" [selectedRowKeys]="[cellData.value]" width="100%" (onSelectionChanged)="onSelectionChanged($event, ddBox.instance)"
                    [dataSource]="tableSelects.consequence_environment">
                    <dxi-column dataField="level"></dxi-column>
                    <dxi-column dataField="factor"></dxi-column>
                    <dxi-column dataField="description"></dxi-column>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
            <div *dxTemplate="let cellData of 'consequence-communityBoxTemplate'">
              <dx-drop-down-box #ddBox (onValueChanged)="onValueChanged($event, cellData.setValue)" [value]="cellData.value"
                [dataSource]="tableSelects.consequence_community" displayExpr="description" valueExpr="level">
                <dxo-drop-down-options [height]="200" [width]="400"></dxo-drop-down-options>
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid keyExpr="level" [selectedRowKeys]="[cellData.value]" width="100%" (onSelectionChanged)="onSelectionChanged($event, ddBox.instance)"
                    [dataSource]="tableSelects.consequence_community">
                    <dxi-column dataField="level"></dxi-column>
                    <dxi-column dataField="factor"></dxi-column>
                    <dxi-column dataField="description"></dxi-column>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
            <div *dxTemplate="let cellData of 'consequence-reputationBoxTemplate'">
              <dx-drop-down-box #ddBox (onValueChanged)="onValueChanged($event, cellData.setValue)" [value]="cellData.value"
                [dataSource]="tableSelects.consequence_reputation" displayExpr="description" valueExpr="level">
                <dxo-drop-down-options [height]="200" [width]="400"></dxo-drop-down-options>
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid keyExpr="level" [selectedRowKeys]="[cellData.value]" width="100%" (onSelectionChanged)="onSelectionChanged($event, ddBox.instance)"
                    [dataSource]="tableSelects.consequence_reputation">
                    <dxi-column dataField="level"></dxi-column>
                    <dxi-column dataField="factor"></dxi-column>
                    <dxi-column dataField="description"></dxi-column>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
            <div *dxTemplate="let cellData of 'consequence-legalBoxTemplate'">
              <dx-drop-down-box #ddBox (onValueChanged)="onValueChanged($event, cellData.setValue)" [value]="cellData.value"
                [dataSource]="tableSelects.consequence_legal" displayExpr="description" valueExpr="level">
                <dxo-drop-down-options [height]="200" [width]="400"></dxo-drop-down-options>
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid keyExpr="level" [selectedRowKeys]="[cellData.value]" width="100%" (onSelectionChanged)="onSelectionChanged($event, ddBox.instance)"
                    [dataSource]="tableSelects.consequence_legal">
                    <dxi-column dataField="level"></dxi-column>
                    <dxi-column dataField="factor"></dxi-column>
                    <dxi-column dataField="description"></dxi-column>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
            <div *dxTemplate="let cellData of 'consequence-financeBoxTemplate'">
              <dx-drop-down-box #ddBox (onValueChanged)="onValueChanged($event, cellData.setValue)" [value]="cellData.value"
                [dataSource]="tableSelects.consequence_finance" displayExpr="description" valueExpr="level">
                <dxo-drop-down-options [height]="200" [width]="400"></dxo-drop-down-options>
                <div *dxTemplate="let data of 'content'">
                  <dx-data-grid keyExpr="level" [selectedRowKeys]="[cellData.value]" width="100%" (onSelectionChanged)="onSelectionChanged($event, ddBox.instance)"
                    [dataSource]="tableSelects.consequence_finance">
                    <dxi-column dataField="level"></dxi-column>
                    <dxi-column dataField="factor"></dxi-column>
                    <dxi-column dataField="description"></dxi-column>
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-selection mode="single"></dxo-selection>
                  </dx-data-grid>
                </div>
              </dx-drop-down-box>
            </div>
          </dx-data-grid>

        </div>



      </ng-container>


    </div>
  </div>
  <!-- End Main Content -->

  <!-- Part Modal -->
  <div id="part-new-modal" uk-modal *ngIf="editEnabled">
    <div class="uk-modal-dialog" *ngIf="newPart !== null">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">Nueva Parte</h2>
      </div>
      <div class="uk-modal-body">
        <div class="uk-grid-small uk-child-width-1-2" uk-grid>
          <div>Nombre</div>
          <div><input type="text" [(ngModel)]="newPart.name" class="uk-input" placeholder="Nombre"></div>
          <div>Versión</div>
          <div><input type="text" [(ngModel)]="newPart.version" class="uk-input" placeholder="Version"></div>
          <div>Fecha</div>
          <div><input type="text" [ngModel]="newPart.date_modified" (blur)="onDateChange(newPart, $event)" class="uk-input datetimepicker"
              placeholder="Fecha de modificación"></div>
        </div>
        <p class="uk-text-center">Esta parte se agregará a: <br /><b>{{currentNode.text}}</b></p>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-primary" type="button" (click)="addPart()">
          <i uk-icon="icon: plus"></i> Agregar Parte
        </button>
      </div>
    </div>
  </div>
  <div id="part-edit-modal" uk-modal *ngIf="editEnabled">
    <div class="uk-modal-dialog" *ngIf="currentPart !== null">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">Editando Parte</h2>
      </div>
      <div class="uk-modal-body">
        <div class="uk-grid-small uk-child-width-1-2" uk-grid>
          <div>Nombre</div>
          <div><input type="text" [(ngModel)]="currentPart.name" class="uk-input" placeholder="Nombre"></div>
          <div>Versión</div>
          <div><input type="text" [(ngModel)]="currentPart.version" class="uk-input" placeholder="Version">
          </div>
          <div>Fecha</div>
          <div><input type="text" [ngModel]="currentPart.date_modified" (blur)="onDateChange(currentPart, $event)"
              class="uk-input datetimepicker" placeholder="Fecha de modificación"></div>
        </div>
        <p class="uk-text-center">Esta parte pertenece a: <br /><b>{{currentNode.text}}</b></p>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-danger" (click)="deletePart(currentPart)">
          <i uk-icon="icon: trash;"></i> Borrar Parte
        </button>
        <button class="uk-button uk-button-primary" type="button" (click)="savePart()">
          <i uk-icon="icon: plus"></i> Guardar Parte
        </button>
      </div>
    </div>
  </div>
  <div id="risk-chart-modal" uk-modal>
    <div class="uk-modal-dialog" *ngIf="currentPart !== null">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-body">
        <div id="risk-chart-container"></div>
      </div>
    </div>
  </div>

</div>
