<div id="login-background"
     style="display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 0; background-position: center center; background-size: cover;"></div>
<div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" style="z-index: 1; position: relative; ">
    <div class="uk-padding" style="background-color: #fff;box-shadow: 5px 5px 5px rgba(0,0,0, 0.3)">
        <div class="uk-text-center uk-margin-small-bottom">
            <img src="./assets/img/rmes-logo-mini-original.png" height="40" width="150"/>
        </div>
        <form class="uk-form uk-form-stacked" method="POST" (submit)="doLogin()">

            <div class="uk-margin">

                <label for="username" class="uk-form-label">Usuario</label>
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input id="username" type="email" class="uk-input validate[required] uk-width-1-1"
                           name="username"
                           value="" autofocus style="padding-left: 40px;">
                </div>

            </div>

            <div class="uk-margin">

                <label for="password" class="uk-form-label">Contraseña</label>

                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input id="password" type="password" class="uk-input validate[required] uk-width-1-1"
                           name="password" style="padding-left: 40px;">
                </div>

            </div>

            <div class="uk-margin">
                <div class="">
                    <label>
                        <input type="checkbox" class="uk-checkbox"
                               name="remember"> Recuérdame
                    </label>
                </div>
            </div>

            <div class="uk-margin uk-margin-remove-bottom">
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="uk-button uk-button-primary uk-width-1-1">
                        Acceder
                    </button>

                    <!--a class="uk-button btn-link" href="http://observatory.capitalproductivity.com/public/password/reset">
                            Olvidó su contraseña?
                        </a-->

                    <div class="uk-text-center uk-margin-small-top">
                        <a routerLink="/risk-matrix" class="uk-text-small uk-text-muted">
                            O continuar como invitado
                        </a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>