<div class="uk-grid-collapse uk-height-1-1" uk-grid uk-height-viewport="offset-top: 50">

  <div class="uk-width-auto uk-height-1-1 uk-overflow-hidden" uk-height-viewport="offset-top: 50">
    <div class="uk-padding-small uk-text-center uk-height-1-1 cgs-background-soft-darker">
      <div class="cgs-flex-col">
        <h2>{{moduleInfo.title}}</h2>
        <div class="cgs-flex-fill" uk-height-viewport="expand: true">

          <ul class="uk-nav-default uk-nav-parent-icon uk-text-left" uk-nav>
            <li class="uk-parent">
              <a [routerLink]="">Maintenance Strategy</a>
              <ul class="uk-nav-sub">
                <a [routerLink]="" (click)="accessConfig('risk-matrix')">Risk Matrix</a>
              </ul>
            </li>
            <li class="uk-parent">
              <a [routerLink]="">HAZOP</a>
              <ul class="uk-nav-sub">
                <li><a (click)="accessConfig('hazop-parts')">Partes</a></li>
                <li><a (click)="accessConfig('hazop-guide-words')">Palabras Guía</a></li>
              </ul>
            </li>
            <li class="uk-parent">
              <a [routerLink]="">HAZID</a>
              <ul class="uk-nav-sub">
                <li><a (click)="accessConfig('hazid-categories')">Categorías &amp; Palabras Guía</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

  <!-- Main Body -->
  <div class="uk-width-expand@m uk-overflow-auto cgs-flex-col" uk-height-viewport="offset-top: true">

    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" *ngIf="!configSelected">
      <div class="uk-width-1-1 uk-text-center uk-text-muted uk-text-lead">
        <div class="uk-visible@m"><i uk-icon="icon: arrow-left; ratio: 3;"></i></div>
        Seleccione una opción para configurar
      </div>
    </div>

    <ng-template #componentHost></ng-template>

  </div>
  <!-- End Main Content -->

</div>
