/* Simulate a table through a ul and grid element */
.cgs-grid-table li {
  padding: 7px;
}

.cgs-grid-table.cgs-grid-table-striped li:hover {
  background-color: #F1F9FF !important;
}

.cgs-grid-table.cgs-grid-table-striped li:nth-of-type(odd) {
  background-color: #f8f8f8;
}

.cgs-dlf-wrapper {
  height: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: left;
  min-height: 25%;
  overflow: auto;
  position: relative;
}

.cgs-dlf-wrapper>* {
  padding: 7px;
}

.cgs-dlf-wrapper #cgs-dlf {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 45px;
}

.cgs-dlf-wrapper form {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
}

.cgs-fmeca-navigator-wrapper {
  text-align: left;
  min-height: 25%;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ccc;
}

.cgs-fmeca-navigator-wrapper[disabled="true"] {
  background-color: #f5f5f5;
}

.cgs-fmeca-navigator-wrapper [class^="flaticon-"]:before,
.cgs-fmeca-navigator-wrapper [class*=" flaticon-"]:before,
.cgs-fmeca-navigator-wrapper [class^="flaticon-"]:after,
.cgs-fmeca-navigator-wrapper [class*=" flaticon-"]:after {
  font-size: 15px;
}

.cgs-fmeca-navigator-wrapper input {
  padding-left: 3px;
  padding-right: 3px;
  border-color: transparent;
  background-color: transparent;
}

.cgs-fmeca-navigator-wrapper input:focus {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom-color: #00a8e6;
}

.cgs-fmeca-navigator-wrapper .uk-button-small {
  padding: 0 5px;
  line-height: 16px;
  border-radius: 5px;
}

#cgs-fmeca-navigator tr.active {
  background-color: #beebff;
}

#cgs-fmeca-table th {
  text-align: center;
}

#cgs-fmeca-table th.cgs-th-group {
  background-color: #f8f8f8;
}

.dx-datagrid-text-content {
  text-align: center !important;
}
