/* Default behaviour override */
html, body {
    height: 100%;
    -ms-overflow-style: scrollbar;
}

::-moz-selection {
    color: #fff;
    background-color: #1E87F0;
}

::selection {
    color: #fff;
    background-color: #1E87F0;
}

/* Quick modules RMES Suite */
#cgs-quick-rmes-suite {
    height: 100%;
    padding: 0 15px;
    line-height: 50px;
}

#cgs-quick-rmes-suite:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#cgs-offcanvas-rmes-modules .uk-search-default {
    width: 85%;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module {
    border: 1px solid #666;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    padding: 15px 5px;
    transition: all ease-in-out 100ms;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module img {
    max-width: 32px;
    margin-bottom: 5px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
    transition: all ease-in-out 100ms;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module:hover {
    border: 1px solid #666;
    transition: all ease-in-out 100ms;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 1;
    transition: all ease-in-out 100ms;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module-no {
    border: 1px solid #333;
    font-size: 12px;
    line-height: 1em;
    text-align: center;
    padding: 15px 5px;
    transition: all ease-in-out 100ms;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module-no img {
    max-width: 32px;
    margin-bottom: 5px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
    transition: all ease-in-out 100ms;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module-no:hover {
    border: 1px solid #333;
    transition: all ease-in-out 100ms;
}

#cgs-offcanvas-rmes-modules .cgs-suite-module-no:hover img {
    -webkit-filter: grayscale(1000%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
    transition: all ease-in-out 100ms;
}

.cgs-background-soft {
    background-color: #f8f8f8;
}

.cgs-background-soft-darker {
    background-color: #f0f0f0;
}

.cgs-vertical-align {
    vertical-align: middle;
}

.cgs-flex-col {
    display: flex;
    flex-direction: column; /* or:   flex-flow: column wrap; */
    height: 100%;
}

.cgs-flex-fill { /* Add this class to the element you want to expand */
    flex: 1;
}

.cgs-form-elegant input, .cgs-form-elegant select {
    padding-left: 3px;
    padding-right: 3px;
    border-color: transparent;
    background-color: transparent;
}

.cgs-form-elegant input:focus, .cgs-form-elegant select:focus {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom-color: #00a8e6;
}

.cgs-clickable {
    cursor: pointer;
}

.cgs-cursor-arrow {
    cursor: default;
}

.cgs-http-loading {
}

.cgs-http-loading .cgs-show-on-loading {
    display: block !important;
}

.cgs-http-loading .cgs-hide-on-loading {
    display: none !important;
}

/* UIKit override */
.uk-button-primary {
    background-color: #0078c9;
    border-radius: 5px;
}

.uk-button-primary:hover {
    background-color: #1E87F0;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #111;
}

.uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    height: 50px;
}

.uk-button-group .uk-button {
    margin-left: 1px !important;
}

.uk-select {
    padding-right: 25px !important;
}

/* Flaticon override */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0;
}

.uk-table > tbody > tr:hover {
    background-color: #F1F9FF !important;
}

.uk-table dt {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.uk-table-xsmall th, .uk-table-xsmall td {
    padding: 5px 6px;
}

/* ng split-pane override */
horizontal-split-separator {
    background-color: #eee !important;
}

horizontal-split-separator .handle {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: ns-resize;
}
