/* Simulate a table through a ul and grid element */
.cgs-grid-table li {
    padding: 7px;
}

.cgs-grid-table.cgs-grid-table-striped li:hover {
    background-color: #F1F9FF !important;
}

.cgs-grid-table.cgs-grid-table-striped li:nth-of-type(odd) {
    background-color: #f8f8f8;
}

.cgs-dlf-wrapper {
    height: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: left;
    min-height: 25%;
    overflow: auto;
    position: relative;
}

.cgs-dlf-wrapper > * {
    padding: 7px;
}

.cgs-dlf-wrapper #cgs-dlf {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 45px;
}

.cgs-dlf-wrapper form {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    right: 0;
}

.cgs-fmeca-navigator-wrapper {
    text-align: left;
    min-height: 25%;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

.cgs-fmeca-navigator-wrapper[disabled="true"] {
    background-color: #f5f5f5;
}

.cgs-fmeca-navigator-wrapper [class^="flaticon-"]:before,
.cgs-fmeca-navigator-wrapper [class*=" flaticon-"]:before,
.cgs-fmeca-navigator-wrapper [class^="flaticon-"]:after,
.cgs-fmeca-navigator-wrapper [class*=" flaticon-"]:after {
    font-size: 15px;
}

.cgs-fmeca-navigator-wrapper input {
    padding-left: 3px;
    padding-right: 3px;
    border-color: transparent;
    background-color: transparent;
}

.cgs-fmeca-navigator-wrapper input:focus {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom-color: #00a8e6;
}

.cgs-fmeca-navigator-wrapper .uk-button-small {
    padding: 0 5px;
    line-height: 16px;
    border-radius: 5px;
}

#cgs-fmeca-navigator tr.active {
    background-color: #beebff;
}

#cgs-fmeca-table th {
    text-align: center;
}

#cgs-fmeca-table th.cgs-th-group {
    background-color: #f8f8f8;
}

#cgs-decision-tree-tab {
    position: absolute;
    left: 0;
    top: 17px;
    background-color: #1E87F0;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    padding: 7px 7px 7px 5px;
    text-decoration: none;
}

#cgs-decision-tree-tab:hover {
    background-color: #0036c3;
}

#orgchart-wrapper {
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    -o-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
}

#orgchart .orgchart {
    background-image: none;
}

.orgchart {
    min-height: 450px;
}

.orgchart .node {
    width: 175px;
}

.orgchart .node .content {
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    height: 80px;
    text-overflow: unset;
    white-space: normal;
}

.orgchart .node.root-node .content {
    font-size: 1em;
}

.orgchart .node.leaf-node .content {
    border: none !important;
}

.orgchart .node .title {
    background-color: #ccc;
    border-radius: 3px 3px 0 0;
}

.orgchart .node.root-node .title {
    background-color: #1E87F0;
    border-radius: 3px 3px 0 0;
}

.orgchart .node.leaf-node .title {
    color: #111111;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 3px 3px 0 0;
}

.orgchart .node:hover {
    background-color: #e3fcff;
}

.orgchart .node.focused {
    background-color: #dafaff;
}

.orgchart .lines .topLine,
.orgchart .lines .leftLine,
.orgchart .lines .rightLine,
.orgchart .lines .bottomLine {
    border-color: #cccccc !important;
}

.orgchart .downLine {
    background-color: #cccccc !important;
}

.orgchart .node .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.orgchart .node .content::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.orgchart .node .content::-webkit-scrollbar-thumb {
    background-color: #999;
}