<div class="uk-grid-collapse uk-height-1-1" uk-grid uk-height-viewport="offset-top: 50">
    <div class="uk-width-1-4@m uk-width-1-5@xl uk-height-1-1 uk-overflow-hidden" uk-height-viewport="offset-top: 50">
        <div class="uk-padding-small uk-text-center uk-height-1-1 cgs-background-soft-darker">
            <div class="cgs-flex-col">
                <h2>{{moduleInfo.title}}</h2>
                <div class="cgs-flex-fill" uk-height-viewport="expand: true">
                    <div class="cgs-dlf-wrapper">
                        <form class="uk-search uk-search-default uk-width-1-1 uk-margin-small-bottom">
                            <span uk-search-icon></span>
                            <input id="tree-search" class="uk-search-input" type="search"
                                   placeholder="Buscar...">
                        </form>
                        <div id="cgs-dlf"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Body -->
    <div class="uk-width-expand@m uk-overflow-hidden cgs-flex-col" uk-height-viewport="offset-top: true">
        <!-- Content header -->
        <div class="uk-padding cgs-background-soft" *ngIf="currentNode !== null">
            <div class="uk-text-small">
                <span title="Sistema" uk-tooltip="delay: 500">
                    Sistema {{currentNode.parent.text}} &raquo;
                </span>
            </div>
            <h3 class="uk-margin-remove">
                {{currentNode.text}}
                <div class="uk-float-right uk-button-group">
                    <button *ngIf="editEnabled" class="uk-button uk-button-small uk-button-primary"
                            (click)="saveChanges()"><i
                            class="flaticon-save"></i> Guardar Cambios
                    </button>
                    <button class="uk-button uk-button-small uk-button-primary" (click)="graphNpr()"><i
                            class="flaticon-line-chart"></i> Graficar
                    </button>
                </div>
            </h3>
        </div>


        <div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" *ngIf="currentNode === null">
            <div class="uk-width-1-1 uk-text-center uk-text-muted uk-text-lead">
                <div class="uk-visible@m"><i uk-icon="icon: arrow-left; ratio: 3;"></i></div>
                Seleccione un equipo desde el diagrama lógico funcional
            </div>
        </div>

        <div class="uk-padding uk-overflow-auto cgs-flex-fill" *ngIf="currentNode !== null">

            <h3 class="uk-margin-remove-bottom">Matriz {{moduleInfo.title}}</h3>
            <!--button class="uk-button uk-button-primary uk-button-small" (click)="addFmecaRow()">
                <i uk-icon="icon: plus; ratio: 0.75;"></i> Agregar Fila
            </button>
            <p class="uk-margin-top" *ngIf="currentPart.fmeca.data.length === 0">Aún no hay datos de {{title}}</p-->

            <div id="cgs-fmeca-table-wrapper">
                <dx-data-grid id="gridContainer" [dataSource]="filteredData" [showColumnLines]="false"
                [showRowLines]="false" [allowColumnResizing]="true" [columnResizingMode]="columnResizingMode"
                [columnMinWidth]="100" [columnAutoWidth]="false" [showBorders]="false" [rowAlternationEnabled]="true">
                <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row>
                <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-paging [enabled]="false"></dxo-paging>                
                <dxo-editing mode="batch" [allowUpdating]="true" [allowDeleting]="false" [allowAdding]="false"></dxo-editing>
                <dxo-export [enabled]="true" fileName={{currentNode.parent.text}} [allowExportSelectedData]="true"></dxo-export>
               
                
                <dxi-column dataField="parent" [allowEditing]="false" caption="SISTEMA" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="name"  [allowEditing]="false" caption="EQUIPO" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.failure-mode" caption="MODO DE FALLA*" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.maintenable-element" caption="ELEMENTO MANTENIBLE*" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.strategy" caption="ESTRATEGIA*" [width]="230" alignment="center">
                    <dxo-lookup [dataSource]="tableSelects.strategy" displayExpr="name" valueExpr="value">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="data.control-method" caption="MÉTODO DE CONTROL*" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.control-frequency" caption="FRECUENCIA DE CONTROL*" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.frequency-unit" caption="UNIDAD DE FRECUENCIA" [width]="230" alignment="center">
                    <dxo-lookup [dataSource]="tableSelects.frequency_unit" displayExpr="name" valueExpr="value">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="data.activity-plan" caption="ACTIVIDAD PLAN" [width]="230" alignment="center">
                    <dxo-lookup [dataSource]="tableSelects.activity_plan" displayExpr="name" valueExpr="value">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="data.description" caption="DESCRIPCIÓN" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.specialty" caption="ESPECIALIDAD" [width]="230" alignment="center">
                    <dxo-lookup [dataSource]="tableSelects.specialty" displayExpr="name" valueExpr="value">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="data.plan-frequency" caption="FRECUENCIA PLAN" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.plan-frequency-unit" caption="UNIDAD FRECUENCIA PLAN" [width]="230" alignment="center">
                    <dxo-lookup [dataSource]="tableSelects.plan_frequency_unit" displayExpr="name" valueExpr="value">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="data.hh-plan" caption="HH PLAN" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.staff" caption="DOTACIÓN" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.duration" caption="DURACIÓN" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.parts" caption="REPUESTOS" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.tools" caption="HERRAMIENTAS" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.supplies" caption="INSUMOS" [width]="230" alignment="center"></dxi-column>
                <dxi-column dataField="data.support-assets" caption="EQUIPOS DE APOYO" [width]="230" alignment="center"></dxi-column>

            </dx-data-grid>
            </div>
            <div class="uk-text-small uk-text-muted">
                * Campo requerido para completar {{moduleInfo.title}}
            </div>




        </div>
    </div>
    <!-- End Main Content -->

    <div id="risk-chart-modal" class="uk-modal-container" uk-modal *ngIf="currentAssetList !== null">
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-body">
                <div id="risk-chart-container"></div>
            </div>
        </div>
    </div>

</div>