<div class="cgs-background-soft uk-padding">
  <h2 class="uk-margin-remove-bottom">
    Catálogo de Palabras Guía
    <div class="uk-float-right">
      <button class="uk-button uk-button-primary" (click)="checkSubmit()">
        <i class="flaticon-save"></i> Guardar
      </button>
    </div>
  </h2>
</div>
<div class="uk-padding">

  <button class="uk-button uk-button-primary uk-button-small uk-margin-bottom" (click)="addGuideWord()">
    <i uk-icon="icon: plus; ratio: 0.6;"></i> Agregar Palabra Guía
  </button>

  <ng-container *ngIf="guideWords !== null && guideWords.length > 0">
    <table id="cgs-matrix-table" class="uk-table uk-table-striped uk-table-small uk-table-hover">
      <thead>
        <tr>
          <th class="uk-table-shrink">&nbsp;&nbsp;Palabra Guía&nbsp;&nbsp;</th>
          <th class="uk-table-shrink">&nbsp;&nbsp;Descripción&nbsp;&nbsp;</th>
          <th class="uk-table-shrink">Opc.</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of guideWords; let i = index;">
          <tr *ngIf="row.status == 1">
            <td>
              <input [(ngModel)]="row.guide_word" type="text" class="uk-input uk-form-small" />
            </td>
            <td>
              <textarea [(ngModel)]="row.description" class="uk-textarea uk-form-small" placeholder="Descripción"></textarea>
            </td>
            <td>
              <a (click)="deleteGuideWord(row)" title="Borrar esta palabra Guía" uk-icon="icon: trash" uk-tooltip="delay: 500"></a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-container>
</div>
