<div class="cgs-background-soft uk-padding">
  <h2 class="uk-margin-remove-bottom">
    Catálogo de Tipos de Parte
    <div class="uk-float-right">
      <button class="uk-button uk-button-primary" (click)="checkSubmit()">
        <i class="flaticon-save"></i> Guardar
      </button>
    </div>
  </h2>
  <p>Para cada tipo de parte, se pueden configurar sus parámetros y acciones a continuación.</p>
</div>
<div class="uk-padding">


  <div *ngIf="partTypes !== null" class="uk-grid-small uk-grid-divider" uk-grid>

    <div class="uk-width-1-3">
      <h3>Tipo de Parte
        <button class="uk-button uk-button-primary uk-button-small uk-margin-bottom" (click)="addType()">
          <i uk-icon="icon: plus; ratio: 0.6;"></i> Agregar Tipo
        </button>
      </h3>
      <div class="cgs-box-list" style="overflow-y: auto;">
        <ng-container *ngFor="let partType of partTypes">
          <div class="cgs-box-list-element cgs-clickable" *ngIf="partType.status == 1" (click)="selectPartType(partType)"
            [ngClass]="{'cgs-active': partType === currentPartType}">

            <div class="cgs-box-list-content">
              {{partType.name}}
            </div>
            <div class="cgs-box-list-options">
              <a uk-icon="icon: pencil" uk-title title="Editar Tipo" (click)="updateName(partType, 'Nombre del Tipo')"></a>
              <a uk-icon="icon: copy" uk-title title="Duplicar Tipo" (click)="duplicateType(partType)"></a>
              <a uk-icon="icon: close" uk-title title="Borrar Tipo" (click)="removeType(partType)"></a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="uk-width-2-3" *ngIf="currentPartType !== null">
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-1-2">
          <h3>Parámetros
            <button class="uk-button uk-button-primary uk-button-small uk-margin-bottom" (click)="addParameter()">
              <i uk-icon="icon: plus; ratio: 0.6;"></i> Agregar Parámetro
            </button>
          </h3>
          <div class="cgs-box-list" style="overflow-y: auto;">
            <ng-container *ngFor="let partParam of currentPartType.parameters">
              <div class="cgs-box-list-element" *ngIf="partParam.status == 1">
                <div class="cgs-box-list-content">
                  {{ partParam.name }}
                </div>
                <div class="cgs-box-list-options">
                  <a uk-icon="icon: pencil" uk-title title="Editar Parámetro" (click)="updateName(partParam, 'Nombre del Parámetro')"></a>
                  <a uk-icon="icon: close" uk-title title="Borrar Parámetro" (click)="removeParameter(partParam)"></a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="uk-width-1-2">
          <h3>Acciones
            <button class="uk-button uk-button-primary uk-button-small uk-margin-bottom" (click)="addAction()">
              <i uk-icon="icon: plus; ratio: 0.6;"></i> Agregar Acción
            </button>
          </h3>
          <div class="cgs-box-list" style="overflow-y: auto;">
            <ng-container *ngFor="let partAction of currentPartType.actions">
              <div class="cgs-box-list-element" *ngIf="partAction.status == 1">
                <div class="cgs-box-list-content">
                  {{ partAction.name }}
                </div>
                <div class="cgs-box-list-options">
                  <a uk-icon="icon: pencil" uk-title title="Editar Acción" (click)="updateName(partAction, 'Nombre de la Acción')"></a>
                  <a uk-icon="icon: close" uk-title title="Borrar Acción" (click)="removeAction(partAction)"></a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>


      </div>
    </div>


  </div>
</div>
